@charset "UTF-8";

/* ===== 全ページ ===== */
/*コンテンツの横幅*/
.inner { 
    width: calc(100% - 20px); 
}

/* ===== 雲のヘッダー（About・Work一覧） ===== */
/*ヘッダー*/
.top-position {
    height: 56vw;
}

.top-position div:nth-child(1) {
    top: -6%;
    left: 0;
    width: 100%;
}

.top-position div:nth-child(2) {
    top: 26%;
    left: 30%;
    width: 40%;
}

.top-position h1 {
    top: 40%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 8vw;
}

/* ===== 全ページ ===== */
/*ナビゲーション*/
nav ul {
    width: 94%;
    margin: 2% auto 0;
}

nav ul li {
    margin-right: 0;
}

nav ul li a {
    height: auto;
    padding: 2vw 0;
    border-radius: 3vw;
}

nav ul li a p {
    font-size: 4.2vw;
}

nav ul li:nth-child(n) a::before {
    height: 100%;
    border-radius: 3vw;
}

/* ===== 全ページ ===== */
/*フッター*/
footer {
    padding: 4% 0;
}

footer p {
    font-size: 3vw;
}

footer .top-return {
    width: 16%;
}