@charset "UTF-8";

.time-box + p + p {
    margin-top: 1%;
}

.page-fleex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   /* space-between → center */
    width: 80%;
    margin: 0 auto;
    margin-top: 2%;
}

.page-fleex-box p {
    position: relative;
    margin: 0 1.2em;
    padding-left: 1.2em;       /* 「#」の分のすき間 */
    font-size: clamp(13px, 1.3vw, 18.7px);
    font-family: "Noto Sans JP";
} 

.page-fleex-box p a {
    display: block;
    color: #202020;
    line-height: 2;
    text-decoration: none;
}

.page-fleex-box p::before {
    display: block;
    position: absolute;
    content: "#";
    top: -10%;
    left: 0%;
    line-height: 2;
    font-size: clamp(13px, 1.5vw, 21.6px);
    font-family: "Noto Sans JP";
} 


.page-fleex-box p::after {
    display: block;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0%;
    width: 0%;
    height: 0.1cqw; /* 元: 0.1vw */
    background-color: #202020;
    transition: 0.5s;
} 

.page-fleex-box p:hover::after {
    width: 100%;
    transition: 0.5s;
}