@charset "UTF-8";

/*メイン　タブ切り替え*/
.tab_box{
    width: 100%;
}


.tab_btn.active div {
    display: block;
}

.tab_panel {
    display:none;
}

.tab_panel.active {
    display:block;
    width: 100%;
}

.panel_area {
    background-color: transparent;
}

.btn_area {
    display: flex;
    margin: 0 auto;
    width: 6%;
}

.tab_btn {
    width: calc(100%/2);
    text-align: center;
    line-height: 2.5;
    margin-right: 3%;
    font-size: 1.2vw;
    font-family: "Zen Kurenaido";
}

.btn_area .tab_btn:last-child {
    margin-right: 0;
}

.tab_btn a {
    display: block;
    text-decoration: none;
    color: #202020;
}

.tab_btn.active {
    background: #ccc;
    border-radius: 4cqw; /* 元: 4vw */
    color: #202020;
}

/*タブ切り替え　中身*/
.tab-parent div {
    padding: 0;
}